﻿@model MotorInsurance.Areas.UK.Models.Estimate

<div>
    <h4>Estimate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyInstallment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyInstallment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCoverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCoverage)
        </dd>
    </dl>
</div>
