﻿@{
    ViewBag.Title = "Home Page";
}

<br /> <br /> 
<div class="row">
    <div class="col-md-5">
        <a href="India/Details">
            <center>
                <div>
                    <img id="flag_main" src="~/Images/India_Flag.jpg" />
                    <br />

                    <h4 class="header-icon">India Domain</h4>

                </div>
            </center>
        </a>
    </div>
    <div class="col-md-2">
        
    </div>
    <div class="col-md-5">
        <a href="UK/Details">
            <center>
                <div>
                    <img id="flag_main" src="~/Images/UK_Flag.jpg" />
                    <br />

                    <h4 class="header-icon">UK Domain</h4>

                </div>
            </center>
        </a>
    </div>
</div>