﻿@model MotorInsurance.Areas.India.Models.Estimate

@{
    ViewBag.Title = "GetEstimate";
    Layout = "~/Areas/India/Views/Shared/_IndiaLayout.cshtml";
}

<h2>GetEstimate</h2>

<div>
    <h4>Estimate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyInstallment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyInstallment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCoverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCoverage)
        </dd>

        <button class="btn btn-default">@Html.ActionLink("Accept", "Display", "Display")</button>
        <button class="btn btn-default">@Html.ActionLink("Back", "VehicleDetails", "Details")</button>

    </dl>
</div>
