﻿body {
}

#flag_main {
    width: 75%;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 5px 10px lightgray;
}
#flag_main:hover {
    width: 75%;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 5px 10px gray;
}
.header-icon {
color:black;
text-decoration:none;
}
.header-icon {
    color: black;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
#flag-icon{
    padding:3px;
    width:70%;
}
